<script>

    /* Set minimum requirement for project due date*/
    $(document).ready(function(){
        var currentDate = new Date();

        let date = currentDate.getDate();
        if (date < 10)
            date = '0' + date;
        let month = currentDate.getMonth()+1;
        if (month < 10)
            month = '0' + month;
        let year = currentDate.getFullYear();

        var minDate = '' + year + '-' + month + '-' + date;

        $("#projectDueDate").attr({"min": minDate});
    });

</script>

<main>
    {{#if user}}
        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li class="active">Create New Project</li>
        </ol>

        <div class="container">

            <div class="page-header">
                <h1>New Project</h1>
            </div>


            <form class="form-horizontal" method="post" action="/project/create">

                <!--  Left Section  -->
                <div class="col-sm-6">
                    <!-- Name -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectName">Project Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="projectName" name="projectName" required >
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectDescription">Project Description</label>
                        <div class="col-lg-9" >
                            <textarea class="form-control" rows="4" id="projectDescription" placeholder="" name="projectDescription" required ></textarea>
                        </div>
                    </div>

                    <!-- Team -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectTeam">Select Team</label>
                        <div class="col-lg-9">
                            <div class="row-fluid">
                                <select class="selectpicker form-control" id="projectTeam" name="projectTeam" required data-live-search="true">
                                    <option ></option>
                                    {{#each teams}}
                                        <option >{{this.teamName}}</option>
                                    {{/each}}each}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Due Date -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectDueDate">Due date</label>
                        <div class="col-lg-9 ">
                            <input type="date" min="" class="form-control" id="projectDueDate" placeholder="" name="projectDueDate" required >
                        </div>
                    </div>
                </div>

                <!--  Right Section  -->

                <div class="col-sm-6">

                    <!-- Customer -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectCustomer">Customer</label>
                        <div class="col-lg-9">
                            <select class="form-control" id="projectCustomer" name="projectCustomer" required data-live-search="true">
                                <option ></option>
                                {{#each customers}}
                                    <option >{{this.customerName}}</option>
                                {{/each}}each}}
                            </select>
                        </div>
                    </div>

                    <!-- Project Price -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectPrice">Price</label>
                        <div class="col-lg-9 ">
                            <input type="number" min="0" class="form-control" id="projectPrice" placeholder="" name="projectPrice" required >
                        </div>
                    </div>

                    <!-- Expenses -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectExpenses">Expenses</label>
                        <div class="col-lg-9 ">
                            <input type="number" min="0" class="form-control" id="projectExpenses" placeholder="" name="projectExpenses" required >
                        </div>
                    </div>

                    <!-- Workin Hours Provision -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="projectWorkingHours">Working hours provision</label>
                        <div class="col-lg-9">
                            <input type="number" min="0" class="form-control" id="projectWorkingHours" placeholder="" name="projectWorkingHours" required >
                        </div>
                    </div>

                </div>

                <!-- Buttons -->
                <div class="col-sm-12">
                    <div class="modal-footer section">
                        <button class="btn btn-default" href="./../project/list">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="projectCreated">Add Project Tasks</button>
                    </div>
                </div>

            </form>
        </div>
    {{/if}}
</main>


