<div class="container body-content span=8 offset=2">
    <div class="">
        <form class="form-horizontal" method="post" action="/project/create">
                    <fieldset>

                        <legend>Create project</legend>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="projectName">Project name</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="projectName" name="projectName" required >
                            </div>
                        </div>

                        <!-- Customer -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="projectCustomer">Customer</label>
                            <div class="col-sm-4 ">
                                <div class="row-fluid">
                                    <select class="selectpicker form-control " id="projectCustomer" name="projectCustomer" required data-live-search="true">
                                        <option ></option>
                                        {{#each customers}}
                                            <option >{{this.customerName}}</option>
                                        {{/each}}each}}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Project Price -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="projectPrice">Project price</label>
                            <div class="col-sm-4 ">
                                <input type="number" class="form-control" id="projectPrice" placeholder="" name="projectPrice" required >
                            </div>
                        </div>

                        <!-- Expences -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="projectExpenses">Project expenses</label>
                            <div class="col-sm-4 ">
                                <input type="number" class="form-control" id="projectExpenses" placeholder="" name="projectExpenses" required >
                            </div>
                        </div>

                        <!-- Workin Hours Provision -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="projectWorkingHours">Working hours provision</label>
                            <div class="col-sm-4 ">
                                <input type="number" class="form-control" id="projectWorkingHours" placeholder="" name="projectWorkingHours" required >
                            </div>
                        </div>

                        <!-- Team -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="projectTeam">Team</label>
                            <div class="col-sm-4">
                                <div class="row-fluid">
                                    <select class="selectpicker form-control " id="projectTeam" name="projectTeam" required data-live-search="true">
                                        <option ></option>
                                        {{#each teams}}
                                            <option >{{this.teamName}}</option>
                                        {{/each}}each}}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Due Date -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="projectDueDate">Due date</label>
                            <div class="col-sm-4 ">
                                <input type="date" class="form-control" id="projectDueDate" placeholder="" name="projectDueDate" required >
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button type="reset" class="btn btn-default" id="projectCancel">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="projectCreated">Create project</button>

                            </div>
                        </div>
                    </fieldset>
                </form>
    </div>
</div>

