<main>
    <div class="container text-center">

        <a href="/userViews/rates">
            <button class="btn btn-primary btn-sm">Manage Rates</button>
        </a>

    </div>


    <div class="container">

            {{#each users}}
                <div class="col-lg-3">
                    <div class="profile-well">
                        <img class="img img-circle center-block" src="/images/lora.jpg" width="150" height="150">

                        <h5 class="text-center">{{this.fullName}}</h5>

                        <div class="">
                            <p>E-mail: {{this.email}}</p>
                            <p>Phone: {{this.phone}}</p>
                        </div>

                        <a href="/userViews/userProfile/{{this.id}}" class="btn btn-default center-block">View Profile</a>
                    </div>
                </div>
            {{/each}}
    </div>

</main>