<main>
    <div class="container">

        <div class="col-md-3 col-sm-4 section well">
            <img class="img-responsive img-thumbnail center-block" src="/images/lora.jpg">
            <form>
                <div class="form-group">
                    <label for="addPicture">Change your account picture</label>
                    <input type="file" id="addPicture">
                </div>
            </form>
        </div>

        <div class="col-md-9 col-sm-8 section ">
            <h3>{{userData.fullName}}</h3>
            <h1>{{userData.email}}</h1>
            <h1>{{userData.phone}}</h1>
            <h1>{{userData.address}}</h1>
        </div>

    </div>
</main>