<main>
    <div class="container">

        <div class="col-md-3 col-sm-4 section well">
            <img class="img-responsive img-thumbnail center-block" src="/images/lora.jpg">
            <form>
                <div class="form-group">
                    <label for="addPicture">Change your account picture</label>
                    <input type="file" id="addPicture">
                </div>
            </form>
        </div>


        <div class="col-md-9 col-sm-8 section">
            <div class="container-border well">
                <h3>{{user.fullName}}</h3>
                <hr>
                <div class="col-xs-12">
                    <p>
                        <span class="glyphicon glyphicon-earphone"></span>
                        {{user.phone}}<button class="btn-sm btn-default pull-right">Edit</button><hr>

                        <span class="glyphicon glyphicon-envelope"></span>
                        {{user.email}}<button class="btn-sm btn-default pull-right">Edit</button><hr>

                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{user.address}}<button class="btn-sm btn-default pull-right">Edit</button>
                    </p>
                </div>



            </div>

        </div>
    </div>
</main>