<div class="container body-content">

    <div class="row">
        <div class="col-lg-8 well">
            <img class="img img-circle center-block" src="/images/lora.jpg" width="150" height="150">
            <h1>{{user.fullName}}</h1>

            <form>
                <div class="form-group">
                    <label for="exampleInputFile">Change picture</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </form>

        </div>
    </div>

</div>