<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enterprice</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />-->
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>

<body>
    <!--  If user is Logged  -->
    {{#if user}}
        <header>
            <!--  Navigation line  -->
            <div class="navbar navbar-default navbar-fixed-top text-uppercase">
                <div class="container">

                    <!--  Username  -->
                    <div class="navbar-header dropdown pull-left">
                        <a class="navbar-brand nav-tabs" id="dLabel" type="button" data-toggle="dropdown">
                            {{user.fullName}}<span class="caret"></span>
                        </a>
                        <!--  Drop-down Username  -->
                        <ul class="dropdown-menu">
                            <li>
                                <a id="dLabelOne" href="/userViews/user">
                                    My Projects
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>

                            <li>
                                <a id="dLabelTwo" href="">
                                    My Teams
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>

                            <li>
                                <a id="dLabelThree" href="">
                                    Account Settings
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>

                            <li>
                                <a id="dLabelFour" href="/user/logout">
                                    Logout
                                </a>
                            </li>
                        </ul>

                        <!--  Navigation  -->
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a class="navbar-brand nav-tabs" id="dLabel" type="button" data-toggle="dropdown">
                                    Projects<span class="caret"></span>
                                </a>

                                <!--  Drop-down Projects  -->
                                <ul class="dropdown-menu">
                                    <li>
                                        <a id="dLabelActive" href="/userViews/user">
                                            Active Projects
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>

                                    <li>
                                        <a id="dLabelClosed" href="">
                                            Closed Projects
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Rates</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Users</a></li>
                        </ul>
                    </div>

                    <!--  Low Resolution Menu View  -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </header>
    {{/if}}

    {{#if error }}
        <div class="home-login-container center-content">
            <h2>{{error}}</h2>
        </div>
    {{/if}}

    <!-- If Not Logged -->
    {{{body}}}
</body>

<footer>
    <div class="container modal-footer">
        <p>&copy; 2017 - Enterprice</p>
    </div>
</footer>
</html>
