<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/team/create">
            <fieldset>

                <legend>Create team</legend>


                <!-- Enter teamName -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="customerPhone">Team Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="teamName" placeholder="Enter team" name="teamName" required >
                    </div>
                </div>

                <!-- Select User -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="projectCustomer">User</label>
                    <div class="col-sm-4 ">
                        <div class="row-fluid">
                            <select class="selectpicker form-control " id="userID" name="userID" required data-live-search="true">
                                <option ></option>
                                {{#each users}}
                                    <option >
                                        <div>{{this.fullName}}</div>
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>


                <!-- Submit / Discard -->
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>