<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<script type="text/javascript">

$(document).ready(function() {

$('#userName').multiselect();

});

</script>

<main>
    <div class="container">

        <form class="form-horizontal" method="post" action="/team/create">
            <fieldset>

                <legend>Create team</legend>

                <!-- Enter teamName -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="customerPhone">Team Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="teamName" placeholder="Enter team" name="teamName" required >
                    </div>
                </div>

                <!-- Select User -->
                <div class="form-group">
                    <label class="col-sm-4 control-label " for="userName">User</label>
                    <div class="col-sm-4 ">
                        <div class="row-fluid">
                            <select class="selectpicker form-control" multiple="multiple" id="userName" name="userName"  required data-live-search="true">
                                {{#each users}}
                                    <option >
                                        <div >{{this.fullName}}</div>
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Submit / Discard -->
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="./../project/list">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-success btn-xs" href="/team/edit">Edit &raquo;</a>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</main>

