<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<script type="text/javascript">

    $(document).ready(function() {

        $('#userName').multiselect();

    });

</script>


<main>
    {{#if user}}
    <div class="container">
        <form class="form-horizontal" method="post" action="">
            <fieldset>

                <legend>Details Team</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="customerName">Team Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" disabled id="customerName" placeholder="" value="{{team.teamName}}" name="customerName" required >
                    </div>
                </div>

                <!-- Select User -->
                <div class="form-group">
                    <label class="col-sm-4 control-label " for="userName">User</label>
                    <div class="col-sm-4 ">
                        <div class="row-fluid">
                            <select  class="selectpicker form-control" multiple="multiple" id="userName" name="userName"  required data-live-search="true">
                                {{#each team.userID}}
                                    <option>
                                        <div aria-checked="true">{{this.fullName}}</div>
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>

                {{#if isAdmin}}
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="/team/edit/{{team.id}}">Edit Team &raquo;</a>
                </div>
                {{/if}}


                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="/team/list">
                            Back
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    {{/if}}
</main>