<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<script type="text/javascript">

    $(document).ready(function() {

        $('#userName').multiselect();

    });

</script>


<main>
    {{#if user}}
    <div class="container">

        <div class="col-lg-12">
            <h2>Teams</h2>
            <hr>
        </div>

        <div class="container-border">
            <div class="well">

                <h5>{{team.teamName}}</h5>
                <hr>
                    {{#each team.userID}}
                        <img class="img-team" src="/images/lora.jpg">
                            {{this.fullName}}
                        <hr>
                    {{/each}}
                {{#if isAdmin}}
                    <div class="pull-right">
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/team/edit/{{team.id}}">Edit Team &raquo;</a>
                        </div>
                    </div>
                {{/if}}

            </div>
        </div>

        <!--  Back Button -->
        <div class="section">
            <a href="/team/list">
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Back to All Teams
                </button>
            </a>
        </div>
    </div>
    {{/if}}
</main>