body {
	background-color: #f9f9f9;
	font-family: 'Raleway', sans-serif;
}

@font-face {
	font-family: Raleway;
	src: url(sansation_light.woff);
}
main {
	margin-top: 70px;
}

@media (max-width: 1199px) {
	.disappear {
		display: block;
		padding-top: 20px;
		background-color: #f9f9f9;
		margin-bottom: 30px;
	}
}
@media (max-width: 768px) {
	.disappear {
		display: none;
	}
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* -------------------------------------
 * Typography
 * ------------------------------------- */
h1 {
	font-size: 36px;

}
h2{
	margin: 0.8em 0 0.3em 0;
	line-height: 1.2em;
}
h4{
	font-size: 18px;
	margin: 0.3em 0 0.6em 0;
	line-height: 1.2em;
}
h6 {
	font-size: 14px;
	margin: 2em 0 1em 0em;
	line-height: 1.2em;
}
label  {
	font-size: 13px;
	line-height: 1.4em;
}

/* -------------------------------------
 * Containers
 * ------------------------------------- */

.page-header {
	padding: 5px 0 15px 0;
	margin: 15px 15px 40px 15px;
	border-bottom: 1px solid #eeeeee;
}

.nav-container {
	background-color: #ffffff;
	margin-bottom: -10px !important;
}
.container {
	background-color: #ffffff;
	margin-bottom: 20px;
}
.section {
	margin: 15px 0 30px 0;
}
.center {
	margin: auto;
	width: 100%;
	padding: 10px;
}
.container-border {
	padding: 12px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin-bottom: 20px;
}
.breadcrumb {
	margin-top: 40px;
	margin-bottom: 0px;
}

/* -------------------------------------
 * Project Info Squares
 * ------------------------------------- */
.info-squares {
	display: inline-block;
	width: 19%;
	height: 140px;
	background-color: #f5f5f5;
	padding: 1%;
	margin: 0.5%;
	color: #a8a8a8;
	font-size: 10px;
	overflow: hidden;
}
.info-squares .small {
	font-size: 12px;
}

.info-squares h5 {
	font-size: 20px;
	color: #808080;
}
.well {
	background-color: #f9f9f9;
}
.transparent {
	background-color: transparent;
}
.green {
	background-color: #18bc9c;
	color: #ffffff;
}
.red {
	background-color: #c30019;
	color: #ffffff !important;
}
.red h5 {
	color: #ffffff !important;
}
.white {
	background-color: #fff;
	color: #808080;
}

/* -------------------------------------
 * User Profile Formatting
 * ------------------------------------- */
.img-logged {
	padding: 0px;
	background-color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 5%;
	margin: 10px 10px 0 0;
}

.img-responsive {
	border-radius: 2px;
	margin-bottom: 10%;
	border: 10px solid #fff;
}

.img-user {
	width: 100%;
	border-radius: 2px;
	margin-bottom: 10%;
	border: 0px solid #fff;
	border-radius: 2px;
}

.img-team {
	border: 0px solid #ffffff;
	padding: 0px;
	background-color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 5%;
	margin: 10px 10px 0 0;
}

/* -------------------------------------
 * Thumbnails
 * ------------------------------------- */
.thumbnail {
	padding: 12px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin-bottom: 20px;
	overflow: hidden;
	/*height: 250px;*/
}
.thumbnail img {
	width: 120px;
	height: 120px;
	border: 10px solid #ffffff;
	margin: 5px auto 0px auto;
	border-radius: 100px;
}
.thumbnail .img-team {
	border: 0px solid #ffffff;
	padding: 0px;
	background-color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 5%;
	margin: 10px 10px 0 0;
}
.thumbnail hr {
	margin-top: 12px;
	margin-bottom: 12px;
	border: 0;
	border-top: 1px solid #eeeeee;
}

.thumbnail .well {
	margin-bottom: 13px;
}
.thumbnail:hover {
	border: 1px solid #cfcfcf;
	/*border-bottom: 1px solid rgba(195, 0, 25, 1);*/
	transition: .5s ease-in-out;
}
.thumbnail-over {
	width: 90%;
	height: 94%;
	position: absolute;
	top: 0;
	left: 15px;
	border-radius: 4px;
	background-color: transparent;
	color: transparent;
	text-transform: uppercase;
	text-align: center;
	line-height: 20em;

}
.thumbnail-over:hover {
	background-color: rgba(195, 0, 25, 1);
	transition: .2s ease-in-out;
	color: #fff;
}
.thumbnail:hover img {
	transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transition: .5s ease-in-out;

}
.thumbnail:hover .btn-sm .glyphicon,
.glyphicon {
	color: #c30019;
	transition: .5s ease-in-out;
}

.thumbnail:hover a {
	color: #b3b3b3;
	transition: .5s ease-in-out;
}
.thumbnail h6 {
	/*color: #c30019;*/
	margin-bottom: 10px;
	font-weight: 400;
}

.thumbnail h5 {
	font-size: 16px;
	/*color: #c30019;*/
	margin-bottom: 18px;
	font-weight: 400;
}
.thumbnail .caption {
	text-align: left !important;
}
.check {
	opacity:0.8;
	background-color: #c1e2b3;
	transition: .5s ease-in-out;
}

/* -------------------------------------
 * Homepage Container
 * ------------------------------------- */
.container-fulsize {
	/*background-image: url('../images/background.jpg');*/
	position: absolute;
	background-color: #ffffff;
	margin: 1%;
	padding: 5%;
	width: 100%;
	height: 100% !important;
}
.home-login-container {
	margin-top: 3%;
	margin-bottom: 10%;
}

/* -------------------------------------
 * Caret & Glyphicon: Hoover
 * ------------------------------------- */
.caret {
	margin-left: 8px;
	color: #cfcfcf;
}
.caret:hover {
	color: #c30019;
}
.btn:hover .glyphicon {
	color: #c30019;
	transition: .5s ease-in;
	transition: .5s ease-out;
}
.btn-success:hover .glyphicon {
	color: #ffffff;
	transition: .5s ease-in;
	transition: .5s ease-out;
}
.btn-sm:hover .glyphicon {
	color: #c30019;
	transition: .5s ease-in-out;
}


/* -------------------------------------
 * Buttons & Links
 * ------------------------------------- */
.btn {
	border-radius: 3px;
	box-shadow: none;
	padding: 8px 30px;
	margin: 5px 5px;
}
.btn-default {
	border: 0px solid #ededed;
}
.btn-default:hover {
	background-color: #f2f2f2;
}
.btn:focus,
.btn-sm:focus,
.btn-lg:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	box-shadow: none;
}
a:hover {
	color: #cfcfcf;
	text-decoration: none;
	transition: .5s ease-in;
	transition: .5s ease-out;
}

.btn-sm {
	padding: 5px 10px;
}

.btn-sm.btn-default {
	padding: 7px 10px;
	margin-right: 5px;
}

/* -------------------------------------
 * Labels
 * ------------------------------------- */
.label-default {
	display: block;
	padding: 7px 20px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.label-warning {
	padding: 3px 3px !important;
	font-size: 14px;
}

/* -------------------------------------
 * Progress Bars
 * ------------------------------------- */
.progress {
	max-width: 60%;
	height: 3px;
}
.progress-bar {
	background-color: #dddddd !important;
}

/* -------------------------------------
 * Navs & Tabs
 * ------------------------------------- */
.navbar {
	min-height: 50px !important;
}
.navbar-brand {
	float: left;
	font-size: 14px;
	line-height: 25px;
}
.navbar-brand:hover .caret{
	color: #c30019;
	transition: .5s ease-in-out;
}
li:hover .caret{
	color: #c30019;
	transition: .5s ease-in-out;
}
.navbar-nav > li > a, .navbar-brand {
	padding-top:15px !important;
	height: 50px;
}
.navbar-nav > li:hover {
	background-color: #f9f9f9;
	transition: 0.3s ease-in-out;
	border-bottom: 3px solid #c30019;
}
.navbar-nav li{
	border-bottom: 3px solid #fff;
}

.nav-tabs {
	border-bottom: 1px solid transparent;
}

.nav-tabs > li {
	float: left;
	margin-bottom: 20px;
	min-width: 200px;
	text-align: center;
}
.nav-tabs > li > a:hover {
	border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #fff !important;
	background-color: #c30019;
	border-bottom-color: transparent;
}

/* -------------------------------------
 * Drop-down
 * ------------------------------------- */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 200px;
	padding: 10px 0 6px 0;
	margin: 3px 0 0 0 !important;
	list-style: none;
	font-size: 13px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #ebebeb;
	/*border: 1px solid rgba(0, 0, 0, 0.15);*/
	border-radius: 3px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 8px 10px;
	overflow: hidden;
	background-color: #e5e5e5;
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.846;
	color: #666666;
	white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #141414;
	background-color: #eeeeee;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #c30019;
}


/* -------------------------------------
 * Forms & Inputs
 * ------------------------------------- */
.form-control,
.form-control-tasks {
	display: block;
	width: 100%;
	height: 40px !important;
	padding: 6px 16px;
	font-size: 16	px !important;
	line-height: 1.846;
	color: #666666;
	border: 1px solid #e5e5e5 !important;
	border-radius: 3px !important;
}
.form-group {
	margin-bottom: 20px;
}
select,
select.form-control {
	-webkit-box-shadow: inset 0 0px 0 #dddddd;
	box-shadow: inset 0 0px 0 #dddddd;
	font-size: 16px;
	line-height: 1.5;
}
.input[type=text]  {
	width: 100px;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
	padding-left: 20px;
	height: 60px;
	background-color: #f9f9f9;
}
textarea:focus,
textarea.form-control:focus,
select.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
	-webkit-box-shadow: inset 0 -1px 0 #4dc370;
	box-shadow: inset 0 -1px 0 #4dc370;
	background-color: #fff;
}
.filters-container {
	padding: 0 0;
	margin: 0 0 2% 0;
}
.filters-container input {
	border-radius: 4px;
	width: auto;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
	padding-left: 20px;
	height: 60px;
}
.filters-container input[type=text]:focus {
	/*font-size: 150%;*/
	background-color: #fff;
	transition: .3s ease-in-out;
	width: 350px;
}
input[type="file"] {
	padding: 10px 0;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: none;
}
input[type="file"] .btn {
	padding: 10px 0;
}
.input-lg {
	height: 60px !important;
	max-width: 50%;
}
.has-success input {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-color: #fff;
}
.has-success .form-control:focus {
	-webkit-box-shadow: inset 0 -1px 0 #4dc370 !important;
	box-shadow: inset 0 -1px 0 #4dc370 !important;
}
.input-no-border {
	font-size: 14px !important;
	border: none !important;
}

/* -------------------------------------
 * Upload File Control
 * ------------------------------------- */
label {
	cursor: pointer;
	/* Style as you please, it will become the visible UI component. */
}
#upload-photo {
	opacity: 1;
}

/* -------------------------------------
 * List Groups
 * ------------------------------------- */
.list-group-item a {
	text-decoration: none;
}

.list-group-item.active {
	color: #fff;
	text-transform: uppercase;
}

.list-group-item.active a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}


/* -------------------------------------
 * Tables
 * ------------------------------------- */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 15px 20px;
	line-height: 1.846;
	vertical-align: middle;
	border-bottom: 1px solid #dddddd;
}
.table {
	border: 1px solid #dddddd ;
	background-color: #fff;
	font-size: 13px;
}
th {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.03em;
	color: #a8a8a8;
	background-color: #f8f8f8;
}
.table p {
	line-height: 1.5em;
}
.table h4 {
	margin: 0.2em 0 0.3em 0;
	line-height: 1.2em;
}
.table h6 {
	font-size: 13px;
	margin: 0.2em 0 0.3em 0;
	line-height: 1.2em;
	color: #b1b1b1;
}

/* -------------------------------------
 * Glyphicons
 * ------------------------------------- */
.glyphicon {
	color: #cfcfcf;
	margin-right: 6px;
}
.glyphicon-done {
	font-size: 16px;
	color: #18bc9c;
	margin: 0 6px;
}
.glyphicon-danger {
	font-size: 16px;
	color: #c30019;
	margin: 0 6px;
}
.glyphicon-active {
	font-size: 16px;
	color: #c30019;
	margin: 0 6px;
}
.glyphicon-bigger {
	padding-top: 7px;
	font-size: 16px;
	margin: 0 6px;
}
.panel .panel-heading {
	background-color: #c30019;
	color: #ffffff;
}

/* -------------------------------------
 * Forms
 * ------------------------------------- */
.form-control {
	width: 100%;
	padding: 10px 16px !important;
	font-size: 13px;
	line-height: 1.846;
	color: #666666;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 10px;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	background-color: #f9f9f9;
	outline: 0;
	border-color: transparent;

}
.form-control-tasks {
	width: 100%;
	padding: 6px 16px !important;
	font-size: 13px;
	line-height: 1.846;
	color: #666666;
	background-color: #ffffff;
	border: 1px solid #f9f9f9;
	border-radius: 2px;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-tasks:focus {
	border-color: #cfcfcf;
	outline: 0;
	background-color: #ffffff;
}
input[type=number],
input[type=text],
select {
	border-radius: 2px;
}

textarea.form-control {
	height: auto !important;
}

/* -------------------------------------
 * Elements
 * ------------------------------------- */
.badge {
	/*background-color: #c1e2b3;*/
	padding: 5px 8px;
	letter-spacing: 0.03em;
}
.alert-warning {
	color: #9f0014;
}

/* -------------------------------------
 * Footer
 * ------------------------------------- */
footer {
	padding-top: 12px;
	background-color: #fff;
	width: 100%;
	bottom: 0;
	position: fixed;
}
.panel-footer {
	background-color: transparent;
	padding: 50px 15px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* -------------------------------------
 * Round Progressbar
 * ------------------------------------- */
.progress-radial, .progress-radial * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
	margin-right: 4%;
	position: relative;
	width: 80%;
	border-radius: 50%;
}
.progress-radial:first-child {
	margin-left: 4%;
}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
	position: absolute;
	width: 95%;
	background-color: #ffffff;
	border-radius: 50%;
	font-size: 30px;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.progress-radial .overlay p{
	position: absolute;
	line-height: 40px;
	text-align: center;
	width: 100%;
	top:50%;
	margin-top: -20px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(0deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-5 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(342deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-10 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(324deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-15 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(306deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-20 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(288deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-25 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-30 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(252deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-35 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(234deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-40 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(216deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-45 {
	background-image: -webkit-linear-gradient(0deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(198deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #f0f0f0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-50 {
	background-image: -webkit-linear-gradient(180deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(-90deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-55 {
	background-image: -webkit-linear-gradient(162deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(-72deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-60 {
	background-image: -webkit-linear-gradient(144deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(-54deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-65 {
	background-image: -webkit-linear-gradient(126deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(-36deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-70 {
	background-image: -webkit-linear-gradient(108deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(-18deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-75 {
	background-image: -webkit-linear-gradient(90deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(0deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-80 {
	background-image: -webkit-linear-gradient(72deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(18deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-85 {
	background-image: -webkit-linear-gradient(54deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(36deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-90 {
	background-image: -webkit-linear-gradient(36deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(54deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-95 {
	background-image: -webkit-linear-gradient(18deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(72deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}

.progress-100 {
	background-image: -webkit-linear-gradient(0deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
	background-image: linear-gradient(90deg, #c30019 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c30019 50%, #f0f0f0 50%, #f0f0f0);
}
